.input-checkbox {
    display: flex;
    margin-bottom: 1rem;

    * {
        cursor: pointer;
    }

    .dup-checkbox {
        width: 20px;
        height: 20px;
        display: block;
        position: relative;
        margin-right: 1rem;
    }

    label {
        text-transform: capitalize;
    }
}
