@import '../../../mixins.scss';

.card {
    min-width: 250px;
    width: 250px;
    min-height: 350px;
    height: 350px;
    border-radius: 0;
    margin: 0 2rem 2rem 0;
    display: inline-block;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.1);
    @include tablet {
        width: 250px;
        min-width: 250px;
        height: 300px;
    }

    .overlay {
        border-radius: 0;

        a {
            margin-left: 1rem;
            border-radius: 0;
            @include tablet {
                margin: 0;
                width: 24px;
                background-color: transparent;
            }
        }

        .info {
            .title {
                @include tablet {
                    font-size: 0.8rem;
                }
            }
        }
    }

    &:hover {
        .cta {
            display: flex;
            animation: fadeIn 0.4s ease-in-out forwards;
        }
    }

    .cta {
        left: 0;
        top: 50%;
        opacity: 0;
        width: 100%;
        display: none;
        padding: 1rem;
        position: absolute;
        justify-content: center;
        transform: translateY(-50%);
        transition: 0.4s all ease-in-out;

        .bibliography-icon,
        .cart-icon {
            width: 60px;
            height: 60px;
            display: flex;
            cursor: pointer;
            border-radius: 50%;
            margin-right: 1rem;
            align-items: center;
            justify-content: center;
            background-color: $light;
            @include tablet {
                width: 50px;
                height: 50px;
            }

            &:last-child {
                margin: 0;
            }

            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
