@use '../../mixins.scss';

.checkout{
    min-height: calc(100vh - 80px);
    width: 100%;
    padding: 4rem;
    display: flex;
    justify-content: space-between;

    @include mixins.lg_tablet{
        padding: 2rem;
    }

    .accordion_container{
        flex: 0.79;
        h3{
            padding-bottom: .5rem;
            margin-bottom: 1rem;
        }

        .inline_address {
                display: inline;
        
                &:first-child {
                    margin-right: 1rem;
                }
            }
    }

    .cart-checkout{
        flex: 0.2;
    }
}