@import '../../mixins.scss';

.category-page {
    width: 100%;
    min-height: calc(100vh - 80px);
    height: auto;

    &-hero-section {
        width: 100%;
        height: 40vh;
        display: flex;
        font-size: 5vw;
        font-weight: 600;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
    }

    main {
        padding: 4rem;
        position: relative;
        @include tablet {
            padding: 2rem;
        }

        .main-header {
            margin-bottom: 1rem;

            .active-labels{
                display:flex;
                flex-wrap:wrap;

                .filter-labels{
                    padding: .8rem;
                    background-color: yellow;
                    color: black;
                    text-transform: lowercase;
                }
            }
        }

        .filter-container {
            top: 80px;
            position: sticky;
            height: max-content;

            .accordion {
                margin-bottom: 0.5rem;
            }
        }

        .main-container {
            display: flex;
            position: relative;
            justify-content: space-between;

            .category-container {
                flex: 0.8;
                padding: 0 0 0 1rem;
                @include tablet {
                    padding: 0 0 0 2rem;
                }

                .listing-container {
                    width: 100%;

                    .card {
                        margin-right: 1rem;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}
