* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

button,
input {
    padding: 0 2rem;
    height: 50px;
    border: none;
}

button {
    cursor: pointer;
    border-radius: 10px;
}

a {
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

.normal {
    min-height: 100vh;
}
