$dark: #181818;
$darkest: #111111;
$primary: #f8d410;
$red: #e73a23;

// font-sizes
$sm-text: 0.8rem;
$md-text: 1rem;
$lg-text: 1.5rem;

@mixin lg-tablet {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 500px) {
        @content;
    }
}
