@import '../../mixins.scss';

// nav {
//     top: 0;
//     z-index: 1;
//     width: 100%;
//     height: 80px;
//     display: flex;
//     position: sticky;
//     align-items: center;
//     justify-content: flex-end;

//     .logo {
//         flex: 1;
//     }

//     .toggle-theme {
//         padding: 0;
//         background-color: transparent;
//         cursor: pointer;
//         height: 24px;
//     }

//     a {
//         height: 100%;
//         cursor: pointer;
//         margin-right: 2rem;
//         position: relative;
//         display: flex;
//         align-items: center;

//         &:last-child {
//             margin: 0;
//         }

//         &:hover .nav-dropdown {
//             display: block;
//         }

//         .nav-dropdown {
//             left: 0;
//             width: 100%;
//             display: none;
//             position: absolute;
//             top: 100%;

//             &:last-child {
//                 border-bottom: none;
//             }

//             &:hover {
//                 display: block;
//             }

//             li {
//                 padding: 1rem;
//             }
//         }
//     }
// }

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    svg {
        cursor: pointer;
    }

    &_items {
        display: flex;
        align-items: center;

        .nav_item {
            position: relative;
            margin: 0 0 0 1rem;

            .icon {
                width: 60px;
                height: 60px;
                display: grid;
                border-radius: 30px;
                place-content: center;
                transition: 0.4s filter ease-in-out;

                &:hover {
                    cursor: pointer;
                    filter: brightness(1.2);
                }
            }

            .dropdown {
                position: absolute;
                top: calc(100% + 1rem);
                left: 0;
                border-radius: 10px;
                min-width: 200px;
                height: max-content;
                padding: 0.2rem;

                &_item {
                    padding: 1rem;
                    cursor: pointer;
                    border-radius: 10px;
                    margin-bottom: 0.2rem;
                    transition: 0.4s filter ease-in-out;

                    &:hover {
                        filter: brightness(1.2);
                    }
                }
            }
        }
    }
}
