@use '../../mixins.scss';

.accordion {
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
    height: max-content;
    border-radius: 10px;
    overflow-y: hidden;

    .filters {
        height: max-content;
        max-height: 500px;
        overflow-y: auto;

        /* width */
        &::-webkit-scrollbar {
            width: 8px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: mixins.$darkest;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: mixins.$primary;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
            cursor: pointer;
        }
    }
}
